/*Site Styling*/
body {
    background-color:#ADD8E6;
    color: #000000;
}

/*Site Navigation*/

h1 {
    font-family: 'Pacifico', cursive;
}

nav {
    z-index: 1;
    top: 0;
}

.navbar-brand {
    padding-left: 1rem;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

.navbar ul {
    margin-left: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/*Site Content*/

main {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.container-fluid {
    margin:3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.page-header {
    padding-top: 2%;
    padding-bottom: 2%;
}


form {
    background-color: white;
}

p {
    float: inline-start;
}

a {
    color: white; 
}

.row {
    margin-top: 2%;
}

/*Site Footer*/
.navbar small {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}








